{% extends 'base.html' %}

{% block content %}

      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="{{ url_for('static', filename=user['Handle']+'.png') }}" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>New Post</strong>
                <small>@{{ user['Handle'] }}</small>
                <br>
                <form action="/create" method="POST">
                  <input type="hidden" name="page" value="feed">
                  <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                      <textarea class="textarea" name="post-content" placeholder="Textarea"></textarea>
                    </div>
                  </div>
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-link">Submit</button>
                    </div>
                  </div>
                </form>
              </p>
            </div>
          </div>
        </article>
      </div>

      <p class="subtitle">
        My Feed
      </p>

      {% for post in posts %}
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="{{ url_for('static', filename=post['Handle']+'.png') }}" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <a href="{{ url_for('dog', handle=post['Handle']) }}">
                    <strong>{{ post['Name'] }}</strong>
                  </a> 
                  <small>@{{ post['Handle'] }}</small> 
                  <small>{{ post|datetime_filter }}</small>
                  {% if post['Handle'] == user['Handle'] %}
                  <small>(<a style="color: red;" href="{{ url_for('delete', post_id=post['Id'], page='feed') }}">delete</a>)</small>
                  {% endif %}
                  <br>
                  {% for word in post['Text'].split(' ') %}
                    {% if word[0] == '@' and word[1:] in handles %}
                      <a href="{{ url_for('dog', handle=word[1:]) }}">
                        @{{ word[1:] }}
                      </a>
                    {% else %}
                      {{ word }}
                    {% endif %}
                  {% endfor %}
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="like">
                    <form action="/change_like" method="POST">
                      <input type="hidden" name="post-id" value="{{ post['Id'] }}">
                      <input type="hidden" name="page" value="feed">
                      <div class="control">
                        <button class="button is-link is-small is-light is-rounded">
                          <span class="icon is-small">
                            <i class="fas fa-heart" aria-hidden="true"></i>
                          </span>
                        </button>
                      </div>
                    </form>         
                    &nbsp {{ post['LikeCount'] }}
                  </a>
                  <div class="level-item">
                    <a> <!--add modal to this link-->
                      <span class="has-text-weight-normal">
                        <!-- reformat using like_filter {{ post }} -->
                      </span>
                    </a>
                </div>
              </nav>
            </div>
          </article>
        </div>
      {% endfor %}

{% endblock %}
      